.love {
  width: 70%;
  position: relative;
  top: 50%;
}
.prof {
  position: inherit;
}
jumbotron {
  background-color: gray;
  height: 75px;
}
.info {
  margin-top: 15px;
}

.row {
  display: inline-flex;
}

button,
input,
optgroup,
select,
textarea {
  width: inherit;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.detail{
  height: 100%;
}
